#container{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

#map{
    height:100%;
    margin-left: 0;
    transition: 0.3s;
}
#logo-element{
    display: flex;
    justify-content: center;
    height: 150px;
    border: 1px solid #000; /* Just to visualize the div */
}
#StationDetailButton {
    color: white;
    background-color: rgb(84, 145, 245);
    border: white;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}
.MapButton {
    color: white;
    background-color: rgb(84, 145, 245);
    border: white;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
#StationDetailButton:hover, .MapButton:hover {
    background-color: rgb(23, 52, 108);
}

#closeSideBar {
    position: absolute;
    top: 0;
    right: 0;
}
.bike_chart {
    display: none;
    width: 100%;
    height: 300px;
}
.stand_chart {
    display: none;
    width: 100%;
    height: 300px;
}
/*winnie's style*/
#leftSection {
    position: fixed;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1; /* Stay on top */
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
#leftSection a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin: 10px;
}
#leftSection a:hover {
  color: #f1f1f1;
}

#leftSection .sidebarElement{
  padding: 8px 8px 8px 32px;
  display: block;
  margin: 10px;

}
/*#leftSection .sidebarElement, #leftSection .journeyinfo*/
#leftSection .journeyinfo
{
  padding: 10px;
  height: 20px;
  width: 200px;

}
/*#leftSection .sidebarElement, #leftSection .dateandtime*/
#leftSection .dateandtime
{
  padding: 10px;
  height: 20px;
  width: 200px;

}
/* Position and style the close button (top right corner) */
#leftSection .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#mode-selector {
  font-size:  20px;
  color: white;


}
#journeyfrom, #journeyto {
  font-size: 30px;
}
#journeydate, #journeytime {
  font-size: 30px;
}
.journey-info-wrapper {
  display: flex;
  /*justify-content: space-between;*/
  flex-direction: column;
  /*padding: 10px;*/
  height: 100px;
}
.stationCard {
  background-color: grey;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
    margin: 5px 10px;
  color: white;
}