<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="GoogleMap.css">
<link rel="stylesheet" type="text/css" href="weather.css">
<body>

<h1>Google Map</h1>

<div id="googleMap_marker"></div>
<div id="weather"></div>

<script>
var map = null;
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
map = new google.maps.Map(document.getElementById("googleMap_marker"),mapProp);
getStations();
getWeather();
}

function addMarkers(stations) {
  stations.forEach(station => {
    var marker = new google.maps.Marker({
      position: {lat: parseFloat(station.position_lat), lng: parseFloat(station.position_lng)},
      map: map,
      title: station.name,
      station_number: station.number,
    });

    // Add mouseover and mouseout event listeners
    marker.addListener('mouseover', function() {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    });

    marker.addListener('mouseout', function() {
      marker.setAnimation(null);
    });
  });
}

function getStations() {
    fetch("/stations")
     .then((response) => response.json())
            .then((data) => {
                console.log("data is:", typeof data);
                addMarkers(data);})
}



function getWeather() {
  fetch(`https://api.openweathermap.org/data/2.5/forecast?lat=53.3498006&lon=-6.2602964&units=metric&appid=8f2e40db6b1c4dcc89b68735362dbc56`)
    .then(response => response.json())
    .then(data => {
      const forecast = data.list;
      const currentTemp = data.list[0].main.temp;
      const currentWeatherMain = data.list[0].weather[0].main;
      const currentWeatherIcon = data.list[0].weather[0].icon;

      // code to display current weather data
      const weatherDiv = document.getElementById("weather");
      weatherDiv.classList.add("animated-bg");

      // Add weather condition class to the weather div
      if (currentWeatherMain.includes('Cloud')) {
        weatherDiv.classList.add('cloudy');
      } else if (currentWeatherMain.includes('Rain')) {
        weatherDiv.classList.add('rainy');
      } else if (currentWeatherMain.includes('Snow')) {
        weatherDiv.classList.add('snowy');
      } else if (currentWeatherMain.includes('Clear')) {
        weatherDiv.classList.add('sunny');
      }

      weatherDiv.innerHTML = `
        <div class="weather-border">
          <div class="weather-header">Current Weather</div>
          <div class="weather-content">
            <img src="https://openweathermap.org/img/wn/${currentWeatherIcon}.png" alt="${currentWeatherMain}" class = "icon">
            ${currentTemp} &#8451;, ${currentWeatherMain}
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">More Details</button>
          <div class="dropdown-content">
            <a href="#">Temperature: ${currentTemp} &#8451;</a>
            <a href="#" class="details">Feels Like: ${forecast[0].main.feels_like} &#8451;</a>
            <a href="#" class="details">Humidity: ${forecast[0].main.humidity}%</a>
            <a href="#" class="details">Wind Direction: ${forecast[0].wind.deg} deg</a>
            <a href="#" class="details">Wind Speed: ${forecast[0].wind.speed} m/s</a>
<!--            <a href="#" class="details">Sunrise: ${new Date(forecast[0].sys.sunrise * 1000).toLocaleTimeString()}</a>-->
<!--            <a href="#" class="details">Sunset: ${new Date(forecast[0].sys.sunset * 1000).toLocaleTimeString()}</a>-->
          </div>
        </div>

        <!-- 5-day forecast-->
        <div class="dropdown">
          <button class="dropbtn">5-Day Forecast</button>
          <div class="dropdown-content">
            ${forecast.map((data, index) => {
              if (index % 8 === 0) {
                const date = new Date(data.dt_txt).toLocaleDateString();
                const temp = data.main.temp;
                const weatherMain = data.weather[0].main;
                const weatherIcon = data.weather[0].icon;
                return `
                  <a href="#" class = "weather-date">${date}</a>
                  <div class="weather-content">
                    <img src="https://openweathermap.org/img/wn/${weatherIcon}.png" alt="${weatherMain}">
                    <a href="#" class="details">Temperature: ${temp} &#8451;</a>
                    <a href="#" class="details">Weather: ${weatherMain}</a>
                  </div>
                `;
              }
            }).join('')}
          </div>
        </div>`;
      const dropdowns = document.querySelectorAll(".dropdown");
      const details = document.querySelectorAll(".details");

      dropdowns.forEach(dropdown => {
        dropdown.addEventListener("click", function() {
          this.nextElementSibling.classList.toggle("show");
        });
      });

      details.forEach(detail => {
        detail.addEventListener("click", function(event) {
          event.stopPropagation();
        });
      });

      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          const dropdownContent = document.querySelectorAll(".dropdown-content");
          dropdownContent.forEach(content => {
            if (content.classList.contains('show')) {
              content.classList.remove('show');
            }
          });
        }
      };
    });
}


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjeRpg6GHEMrW0F-SVb08DJ5X2_0vOiYY&callback=myMap"></script>

</body>
</html>