
html, body {
height: 100%;
margin: 0;
padding: 0;

}

#map {
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    filter: grayscale(50%);
  } 

#logo-element{
  display: flex;
  justify-content: center;
 
  height: 150px;
  width: 650px;
  /* background-color: red; */
}

/* The sidebar menu */
.sidebar {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(40, 39, 39); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}


 .sidebar a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin: 10px;
}

.sidebarElement {
  display: flex;
  justify-content: center;
 flex-direction: column;

  height: 30rem;
  width: 40rem;

}

.dateandtime {
  height: 70px;
  width: 25rem;
  border-radius: 25px;

}

.journeyinfo{
  height: 70px;
  width: 25rem;
  border-radius: 25px;
}


#journeyfrom, #journeyto {
  font-size: 40px;
}
#journeydate, #journeytime {
  font-size: 40px;
  /* background-color: green; */
}
.journey-info-wrapper {
  display: flex;
  padding-left: 3.8rem;
  justify-content: space-evenly;
  flex-direction: column;  
  height: 15rem;
  width: 30rem;
  /* background-color: green; */
}

.date-time-wrapper{
  display: flex;
  justify-content: space-evenly;
  padding-left: 3.8rem;

  flex-direction: column; 
  height: 15rem;
  width: 30rem;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.btn-design {
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(40, 39, 39); 
  color: white;
  padding: 12px 12px;
  border: none;
  position: sticky;
  top: 18px;
  left: 370px;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.openbtn{
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(40, 39, 39);
  color: white;
  padding: 10px 15px;
  border: none;
  position: sticky;
  top: 10px;
  left: 370px;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.openbtn:hover {
  background-color: #444;
}

 .available-content{
  display: flex;
  justify-content: space-between;
  width: 34.5rem

} 

.button-container{
  display: flex;

}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
 
}

/*This part is displayed vertically*/
#weather {
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 10px;
  background-color: rgb(40, 39, 39); /* Black*/
  border: none;
  border-radius: 15px;
  font-size: 14px;
  color: white;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-width: 300px;
  width: 100%;
}

.weather-border {
  border: none;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.weather-header {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}

.weather-content {

  font-size: 35px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-content .icon {
  width: 120px;
  height: 120px;
}
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.weather-info p {
  margin: 0;
}


.dropbtn {
  background-color: transparent;
  color: white;
  padding: 20px 30px;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.five-day{
  width: 16.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: rgb(40, 39, 39); /* Black*/

}


.dropdown-content {
  font-size: 27px;

  max-height: 400px;
  overflow-y: auto;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(40, 39, 39); /* Black*/
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  font-size: 20px;

  color: white;
  padding: 12px 13px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.details {
  display: none;
}

.show {
  display: block;
} 

.icon {
  width: 100rem;
  height: 150px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

